{% extends '@Shared/common/base.html.twig' %}

{% block titlePrefix %}App{% endblock %}
{% block titleSuffix %}Home{% endblock %}

{% block og %}
    {{ parent() }}
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
{% endblock %}

{% block main %}
    <p>Hello World!</p>
{% endblock %}
