{% extends '@Shared/common/base.html.twig' %}

{% block titlePrefix %}App{% endblock %}
{% block titleSuffix %}Home{% endblock %}

{% block og %}
    {{ parent() }}
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
{% endblock %}

{% block locales %}
    <link rel="canonical" hreflang="en" href="{{ absolute_url(path('homepage_index', {'_locale': 'en'})) }}" />
{% endblock %}

{% block main %}
    <p>Hello World!</p>
{% endblock %}
