<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block titlePrefix %}{% endblock %} | {% block titleSuffix %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="author" content="Alexandra Aurora Göttlicher" />
        <meta name="msapplication-TileColor" content="">
        <meta name="theme-color" content="" />
        {% block og %}
            <meta property="og:type" content="website" />
            <meta property="og:site_name" content="{{ app.request.httpHost }}" />
        {% endblock %}
        {% block styles %}
        {% endblock %}
        <link rel="canonical" hreflang="en" href="{{ absolute_url(path('homepage_index', {'_locale': 'en'})) }}"/>
    </head>

    <body>
        <header>
            {% block header %}
            {% endblock %}
        </header>

        <main>
            {% block main %}
            {% endblock %}
        </main>

        <footer>
            {% block footer %}
            {% endblock %}
        </footer>

        {% block importmap %}
            {{ importmap('app') }}
        {% endblock %}

        {% block javascript %}
        {% endblock %}
    </body>
</html>
